<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
                     xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="LoggerFile"
              class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File"
               value="./logs/bluebot.log" />
        <param name="DatePattern" value="'.'yyyy-ww" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern"
                   value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-8p [%t]:%C - %m%n" />
        </layout>
    </appender>
    <root>
        <level value="info" />
        <appender-ref ref="LoggerFile" />
    </root>
</log4j:configuration>